:root {
    /*--bg-color: rgb(14, 16, 21); !* Define a variable for the primary color *!*/
    --bg-color: rgb(187, 10, 37); /* Define a variable for the primary color */
    --nav_bg_hover: rgb(25, 28, 37);   /* Define a variable for the hover color */
    --nav_txt_hover: #E48F45;
    --txt_color: rgb(217, 214, 214);
}




body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: var(--txt_color);
    font-size: 14px;
    /*width: 1000px;*/
    min-width: 2000px;
}


.navigation{
    /*margin-top: 1vh;*/
}


nav {
    /*background-color: rgb(14, 16, 21);*/
    overflow: hidden;
    display: inline-block;

}


nav a {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    margin-top: 1vh;
    border-radius: 0.6vh;
    font-weight: 550;
    color: var(--txt_color);


}

nav a:hover {
    background-color: var(--nav_bg_hover);
    color: var(--nav_txt_hover);
}


.Homeone{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 30px;
    /*background-color: inherit;*/
    font-weight: 550;
    color:var(--txt_color);
}

/* Style the dropdown */
.dropdown {
    float: left;
    overflow: hidden;
    margin-top: 1vh;
    border-radius: 0.6vh;
    font-weight: 550;
    color: var(--txt_color);
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 30px;
    background-color: inherit;

    margin: 0;
    font-weight: 550;
    color:var(--txt_color);
    border-radius: 0.6vh;
}

.dropbtn:hover{
        background-color: rgb(25, 28, 37);
        color: var(--nav_txt_hover);
}


.dropdown-content {
    display: none;
    min-width: 120px;
    z-index: 1;
    position: fixed;
    /*background-color: rgb(137, 145, 152);*/
    border-radius: 1vh;
    max-width: 500px;
}

.dropdown-content a {
    font-size: 14px;
    float: none;
    padding: 14px 20px;

    margin-right: 1vh;

    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: Var(--nav_bg_hover);


}

.dropdown-content a:hover {
background-color: var(--nav_bg_hover);
color: var(--nav_txt_hover);
}

.dropdown:hover .dropdown-content {
    display: block;
}



















.Currency_1Y{
    /*background-color: rgb(25, 28, 37);*/
    position: absolute;
    margin-top: 6vh;

}

.Y1{
    margin-top: 2vh;
    background-color: rgb(25, 28, 37);
    border-radius: 2vh;
    width: 345px;
  }



.summery_home_outside {
    /*background-color: rgb(25, 28, 37);*/
    position: fixed;
    margin-top: 6vh;
    margin-left: 33vh;
    /*left: 0vh;*/

}

.summery_home_inside{
    margin-top: 2vh;
    background-color: rgb(25, 28, 37);
    border-radius: 2vh;
    height: 712px;

  }
