@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


:root {
  --bg-color: rgb(14, 16, 21);
  --nav_bg_hover: rgb(25, 28, 37);   /* Define a variable for the hover color */
  --nav_txt_hover: #E48F45;
  --txt_color: rgb(217, 214, 214);
  --scrollbar_color: #9A9A9A;
  --clr-light: rgb(21, 23, 31);
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-light);
  border-radius: 10px;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /*overflow: hidden;*/
  background-color: var(--bg-color);
  font-size: 16px;
  min-width: 1800px;
  /*width: 1500px;*/
  /*font-weight: 500;*/

  display: flex;
  /*display: inline;*/
  /*margin-left: 27%;*/
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-self: center;
}

section{
  width: 1800px;
  font-weight: 500;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  /*position: absolute;*/
  /*top: 0px;*/
  background-color: var(--bg-color);
  /*background-color: antiquewhite;*/
  width: 100%;
  z-index: 1000;
  /*margin-left: -350px;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*justify-items: center;*/
  /*justify-self: center;*/
  /*align-content: center;*/
  /*align-self: center;*/
}



.container {
  /*max-width: 65rem;*/
  padding: 0 0rem;
  margin: 0 auto;
  /*display: flex;*/
  /*position: absolute;*/
  margin-top: 8px;
  /*margin-left: 500px;*/

}



.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
}


.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3rem;
  color: var(--txt_color);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.nav-link > a > i {
  margin-left: .4rem;
}

.nav-link:hover > a {
  color: var(--nav_txt_hover);
}












.dropdown {
  position: absolute;
  top: 100%;
  left: 0.5rem;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: var(--clr-light);
  color: var(--txt_color);
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover > a {
  background-color: var(--nav_bg_hover);
  color: var(--nav_txt_hover);
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--clr-light);
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: var(--clr-light);
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
  background-color: var(--clr-light);
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover>.dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}













.main_box{
  position:static;
  margin-top: 80px;
}


.currency1, .currency2 ,.currency3{
  margin-top: 50px;
  background-color: var(--nav_bg_hover);
  margin-left: 235px;
  border-radius: 2vh;
  width: 315px;
  height: 200px;
}




 .summery_home_outside {
  margin-top: -700px;
  margin-left: 620px;  /* +70  */
  border-radius: 2vh;
}

.summery_home_inside{
  background-color: var(--nav_bg_hover);
  width: 400px;
  height: 700px;
  border-radius: 2vh;
}

.news_fs_outside{
  margin-top: -700px;
  margin-left: 1090px;
  border-radius: 2vh;
}

.news_fs_inside{
  background-color: var(--nav_bg_hover);
  width: 480px;
  height: 700px;
  border-radius: 2vh;
}




.matrix_outside{
  margin-top: 60px;
  margin-left: 235px;
  border-radius: 2vh;
}

.matrix_inside{
  width: 1336px;
  height: 900px;
}


.valuation_outside{
  margin-top: 60px;
  margin-left: 235px;
  border-radius: 2vh;
}

.valuation_inside{
  width: 1336px;
  height: 750px;
  background-color: var(--nav_bg_hover);
  border-radius: 2vh;
}

